{{ define "main" }}
  <article class="max-w-prose px-6 py-8 mx-auto">
    <header>
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title }}
      </h1>
    </header>
    {{ $taxonomy := .Params.taxonomy }}
    {{ $term := .Params.term }}
    {{ $pages := slice }}
    {{ range where .Site.RegularPages "Section" "posts" }}
      {{ if in (index .Params $taxonomy) $term }}
        {{ $pages = $pages | append . }}
      {{ end }}
    {{ end }}
    {{ if $pages }}
      <ul class="mt-6 space-y-4">
        {{ range $pages.ByDate.Reverse }}
          <li>
            <time class="text-sm text-neutral-500 dark:text-neutral-400" datetime="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format "2 January 2006" }}
            </time>
            <a class="block text-lg font-medium" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ with .Summary }}<p class="mt-1 text-neutral-700 dark:text-neutral-300">{{ . | plainify }}</p>{{ end }}
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <p>No posts found.</p>
    {{ end }}
  </article>
{{ end }}
